@import 'site-header.css';
@import 'sitenav.css';

html {
  box-sizing: border-box;
}

*,*::after,*::before {
  box-sizing: inherit;
}

body {
  font-size: 14px;
  font-family:'Roboto', sans-serif;
}

img {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}


.container {
  max-width: 900px;
  padding: 0 15px;
  margin: 0 auto;
}